body {
  width: 1800px;
  margin: 0 auto;
  border: 1px solid;
}

/* styling Task 1 */

h1 {
  text-align: center;
}

.grid-container {
  display: grid;
  /* max-width: 100%; */
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(2, 300px);
  justify-content: center;
  gap: 0.5rem;
  font-size: 2em;
  padding: 5px;
}

.grid {
  color: white;
}

.a {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  background-color: chartreuse;
}

.b {
  background-color: chocolate;
  grid-column: 3 / span 2;
}
.c {
  background-color: burlywood;
}

.d {
  background-color: blueviolet;
}

/* Responsive Task */
@media screen and (max-width: 576px) {
  .grid-container {
    grid-template-columns: 2fr;
  }
}
